<!doctype html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
             <title>Document</title>
</head>
<body>


    <h2>Список регионов</h2>
    <a href="{% url 'region_create' %}">Добавить регион</a>
    <ul>
        {% for region in regions %}
            <li>
                {{ region.title }}
                <a href="{% url 'region_update' region.pk %}">Изменить</a>
                <a href="{% url 'region_delete' region.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
    



</body>
</html>